<div class="login">
    <b>Inicia tu sesión</b><br>
<!-- <mat-form-field appearance="fill">
    <mat-label>Nombre de usuario</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Clave</mat-label> -->
    <input matInput>
  <!-- </mat-form-field> -->
  <!-- <div>
      <button mat-stroked-button>Cancelar</button>
  <button mat-raised-button color="accent">Aceptar</button>
  </div> -->
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button mat-dialog-close cdkFocusInitial style="background-color: rgb(111, 232, 111);">Aceptar</button>
  </div>
</div>