<!-- <button mat-flat-button color="warn" style="float: right; margin: 2px;" (click)="addStudent()">Agregar alumno</button>

<table mat-table [dataSource]="students" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="isActive">
    <th mat-header-cell *matHeaderCellDef> Está activo </th>
    <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Editar </th>
    <td mat-cell *matCellDef="let element"> <button mat-icon-button color="accent" (click)="editStudent(element)"><mat-icon>edit</mat-icon></button> </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Eliminar </th>
    <td mat-cell *matCellDef="let element"> <button mat-icon-button color="warn" (click)="deleteStudent(element)"><mat-icon>delete_forever</mat-icon></button> </td>
  </ng-container>

  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->
