nav{
    align-self: center;
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: space-between;
}

.mat-tab-group {
    margin-bottom: 48px;
    
}

div{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

